:root {
  --primary-b-400: #6070ff;
  --primary-b-300: #7f8cff;
  --neutrals-n-800: #172b4d;
  --neutrals-n-600: #344563;
  --neutrals-n-10: #f7f7f9;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--neutrals-n-10, #f7f7f9);
}

/* Introduction section - Header */
.intro-section {
  background-image: url('./images/Microverse-Student-Project-1/header-background-mobile.png');
  height: 718px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.bar {
  display: flex;
  flex-direction: row wrap;
  justify-content: space-between;
  padding: 16px 21px 12px;
  width: 100%;
  height: 44px;
}

.clock {
  color: #000;
  text-align: center;
  font-size: 14px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.28px;
}

.nav-bar {
  padding: 12px 6%;
  display: flex;
  flex-direction: row wrap;
  height: 48px;
  align-items: center;
  width: 100%;
  position: relative;
}

.logo {
  color: var(--primary-b-400, #6070ff);
  text-align: center;
  font-size: 18px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.logo:hover {
  opacity: 0.7;
  cursor: pointer;
}

.menu {
  color: var(--primary-b-400, #6070ff);
  height: 100%;
  position: absolute;
  top: 0;
  right: 6%;
}

.menu-items-container {
  display: none;
}

.menu:hover {
  opacity: 0.7;
  cursor: pointer;
}

.introduction {
  background-image: url('./images/shapes.png');
  background-size: 100% 90%;
  background-repeat: no-repeat;
  height: 604px;
}

.intro-container {
  padding: 19% 6%;
}

.header {
  color: var(--neutrals-n-800, #172b4d);
  font-size: 40px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
}

.paragraph {
  color: var(--neutrals-n-600, #344563);
  font-size: 16px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.connect {
  color: var(--primary-b-300, #7f8cff);
  font-size: 16px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.social-icons {
  display: flex;
  flex-direction: row wrap;
  padding-left: 0;
}

.icon {
  padding: 0 8px;
  list-style: none;
}

.icon:hover {
  opacity: 0.7;
  cursor: pointer;
}

.medium {
  padding-top: 4px;
}

/* Work section */
.grid-container {
  display: grid;
  gap: 88px;
  grid-template-rows: repeat(4, 1fr);
}

.work-section {
  padding: 114px 24px;
}

.card {
  display: flex;
  padding: 16px;
  flex-direction: column;
  gap: 12px;
  border-radius: 16px;
  border: 1px solid var(--neutrals-n-40, #dfe1e6);
  background: var(--neutrals-n-0, #fff);
}

.card-image {
  width: 100%;
}

.card-image > img {
  width: 100%;
  object-fit: cover;
}

.project-name {
  color: var(--neutrals-n-800, #172b4d);
  font-size: 32px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  width: 100%;
  margin: 0;
}

.project-info {
  display: flex;
  flex-direction: row wrap;
  width: 100%;
}

.company {
  color: var(--neutrals-n-600, #344563);
  font-size: 13px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  padding: 0 6px 0 0;
}

.position,
.year {
  color: var(--neutrals-n-100, #7a869a);
  font-size: 13px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  padding: 0 6px;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: var(--neutrals-n-50, #c1c7d0);
  margin: 4px 6px 0;
}

.desc {
  color: var(--neutrals-n-600, #344563);
  font-size: 15px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.stack {
  list-style: none;
  display: flex;
  flex-direction: row wrap;
  width: 100%;
  padding-left: 0;
  margin-top: 0;
}

.lang {
  color: var(--primary-b-400, #6070ff);
  font-size: 12px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.36px;
  padding: 4px 12px;
  border-radius: 8px;
  background: var(--primary-b-50, #ebebff);
  margin-right: 8px;
}

.see-project {
  border-radius: 8px;
  padding: 12px;
  border: 1px solid var(--primary-b-400, #6070ff);
  color: var(--primary-b-500, #396df2);
  text-align: center;
  font-size: 15px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.51px;
  width: 43%;
  margin: 12px 0;
}

/* About section */
.about-section {
  padding: 114px 24px;
  background-image: url('./images/Base\ about\ my\ self.png');
  background-repeat: none;
  background-size: 100% 100%;
}

.title {
  color: var(--neutrals-n-800, #172b4d);
  font-size: 40px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  margin-bottom: 5px;
}

.content {
  color: var(--neutrals-n-600, #344563);
  font-size: 16px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: 0;
}

ul {
  list-style-type: none;
}

.about-list {
  margin-top: 26px;
  margin-left: 0;
  padding-left: 0;
}

.about-item {
  color: #000;
  font-size: 20px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  padding: 22px 26px 16px 12px;
  display: flex;
  flex-direction: row wrap;
  justify-content: space-between;
  height: 72px;
}

.about-item > img {
  width: 24px;
  height: 24px;
}

.about-lang {
  margin: 12px;
  display: flex;
  padding: 9px 12px 9.716px 12px;
  align-items: center;
  gap: 16px;
  border-radius: 8px;
  background: var(--neutrals-n-10, #f7f7f9);
  color: var(--neutrals-n-700, #253858);
  font-size: 15px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.active {
  border-bottom: 1px solid var(--neutrals-n-40, #dfe1e6);
}

@media screen and (min-width: 768px) {
  .bar,
  .menu {
    display: none;
  }

  .nav-bar {
    height: 72px;
    position: relative;
  }

  .logo {
    color: var(--primary-b-400, #6070ff);
    text-align: center;
    font-size: 18px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
  }

  .logo:hover {
    opacity: 0.7;
    cursor: pointer;
  }

  .menu-items-container {
    display: block;
    position: absolute;
    right: 6%;
  }

  .menu-items {
    display: flex;
    flex-direction: row wrap;
  }

  .item {
    list-style: none;
    padding: 0 16px;
    color: var(--neutrals-n-600, #344563);
    text-align: center;
    font-size: 15px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
  }

  .item > a {
    text-decoration: none;
    color: var(--neutrals-n-600, #344563);
  }

  .item:hover {
    opacity: 0.7;
    cursor: pointer;
  }

  .intro-container {
    padding: 15% 18%;
  }

  .intro-section {
    background-image: url('./images/header\ background\ shape-desktop.png');
    height: 916px;
    background-size: 100% 100%;
  }

  .introduction {
    height: 846px;
    background-image: url('./images/Microverse-Student-Project-1 (2)/Header bg.png');
    background-size: 100% 90%;
  }

  /* Work section */

  .work-section {
    padding: 142px;
  }

  .card {
    padding: 24px;
    flex-direction: row;
    border-radius: 24px;
    height: 496px;
    width: 100%;
  }

  .card-2 {
    flex-direction: row-reverse;
  }

  .card-image {
    width: 50%;
  }

  .card-image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }

  .card-info {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 24px;
    gap: 24px;
  }

  .see-project:hover {
    background-color: var(--primary-b-500, #396df2);
    color: white;
  }

  .get-my-resume {
    padding: 12px 3%;
  }

  /* About section */
  .about-section {
    padding: 143px;
    background-image: url('./images/about\ myself\ -\ background-\ shape-\ desktop.png');
    background-repeat: none;
    background-size: 100% 100%;
    display: flex;
    flex-direction: row wrap;
    gap: 3%;
  }

  .about-info {
    width: 50%;
  }

  .social-icons {
    margin: 24px 0;
  }

  .about-list {
    width: 50%;
  }
}
